<% provide(:title, "Home") %>
<h1>Welcome to our App</h1>
<%= link_to "About us", about_path %>
<%= link_to "Help", '#' %>
<%= link_to "Home", root_url %>
<p>This the home of the fantastic ruby girls</p>
<p> Commonly known as ROR girls</p>

<%= link_to "Sign Up Now", '#', class: "btn btn-lg btn-primary" %>


