<% provide(:title, "Home") %>
<h1>Welcome to our App</h1>

<p>This the home of the fantastic ruby girls</p>
<p> Commonly known as ROR girls</p>

<%= link_to "Sign Up Now", '#' %>
<%= image_tag('app.jpg', alt: "the team") %>











